spring:
  application:
    name: eureka-server
  cloud:
    config:
      enabled: false

eureka:
  server:
    enable-self-preservation: false
  client:
    register-with-eureka: false
    fetch-registry: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

server:
    port: 8761
