spring:
  application:
    name: configServer
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          location: file:/app/config-repo/
        filesystem:
          enabled: true
          search-locations: file:/app/config-repo/
        bootstrap: false
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS
server:
  port: 8889
